data/nxt-subset
data/mac_morpho/ag*
data/mac_morpho/b*
data/mac_morpho/c*
data/mac_morpho/d*
data/mac_morpho/e*
data/mac_morpho/f*
data/mac_morpho/i*
data/mac_morpho/m*
data/mac_morpho/README
data/speech
data/cmvn_tensors.pkl
data/burnc/burnc_*
data/burnc/span*
data/burnc/utt*
data/burnc/text*
speech_model/results/refactor/*.pt
speech_model/results/refactor/cnn_only/*.pt
speech_model/results/refactor/replication/*.pt
speech_model/results/refactor/cnn_lstm/*.pt
speech_model/results/refactor/text_lstm/*.pt
speech_model/results/refactor/text_lstm/sweep1/*.pt
speech_model/results/refactor/text_lstm/sweep2/*.pt
speech_model/results/refactor/both/*.pt
speech_model/results/refactor/both_crossval/*.pt
speech_model/results/refactor/text_crossval/*.pt
speech_model/results/refactor/both_no_pretrain/*.pt
speech_model/results/refactor/text_no_pretrain/*.pt
speech_model/results/refactor/both_vocab/*.pt
speech_model/results/refactor/text_vocab/*.pt
speech_model/results/refactor/both_over/*.pt
speech_model/results/refactor/speech_over/*.pt
speech_model/both_exp*
speech_model/crossval*