venv
.idea
data/nxt-subset
data/mac_morpho/ag*
data/mac_morpho/b*
data/mac_morpho/c*
data/mac_morpho/d*
data/mac_morpho/e*
data/mac_morpho/f*
data/mac_morpho/i*
data/mac_morpho/m*
data/mac_morpho/README
data/speech
data/cmvn_tensors.pkl
data/burnc/burnc*
data/burnc/syl_dict.pkl
data/burnc/span*
data/burnc/utt*
data/burnc/text*
data/emb/*
data/*.pkl
data/*/*.pkl
model/results/refactor/*.pt
model/results/refactor/cnn_only/*.pt
model/results/refactor/replication/*.pt
model/results/refactor/cnn_lstm/*.pt
model/results/refactor/text_lstm/*.pt
model/results/refactor/text_lstm/sweep1/*.pt
model/results/refactor/text_lstm/sweep2/*.pt
model/results/refactor/both/*.pt
model/results/refactor/both_crossval/*.pt
model/results/refactor/text_crossval/*.pt
model/results/refactor/both_no_pretrain/*.pt
model/results/refactor/text_no_pretrain/*.pt
model/results/refactor/both_vocab/*.pt
model/results/refactor/text_vocab/*.pt
model/results/refactor/both_*/*.pt
model/results/refactor/cnn_lstm_3tok*/*.pt
model/results/refactor/speech_over/*.pt
model/results/refactor/text_stopwords/*.pt
model/results/refactor/text_stopwords/*.png
model/results/refactor/cluster_results/*.pt
model/results/refactor/cluster_results/*.png
model/results/refactor/*/*.pt
model/results/refactor/*/*.png
model/*/*/*.pt
model/*/*/*.png
model/results/swbd/*.png
model/results/swbd/*.pt
model/both_exp*
model/crossval*
preproc/check_data/figs/*
*/__pycache__