data/nxt-subset
data/mac_morpho/ag*
data/mac_morpho/b*
data/mac_morpho/c*
data/mac_morpho/d*
data/mac_morpho/e*
data/mac_morpho/f*
data/mac_morpho/i*
data/mac_morpho/m*
data/mac_morpho/README
data/speech
data/cmvn_tensors.pkl
data/burnc/burnc_*
data/burnc/span*
data/burnc/utt*
data/burnc/text*
speech_model/results/refactor/*.pt
speech_model/results/refactor/replication/*.pt
speech_model/results/refactor/cnn_lstm/*.pt